
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go build command
**/bin/
**/build/
**/*.o
**/*.a

# Dependency directories (vendor for older Go versions)
vendor/

# Go workspace file (optional)
go.work
go.work.sum

# IDE/editor files
*.swp
*.swo
*.swn
*.bak
*.tmp
*~
*.log

# Linux
*.pid
